*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;  
}

header{
    width: 100%;
    height: 44px;
    background-color: rgba(48, 48, 48, 0.9);
    position: fixed;
    backdrop-filter: blur(5px);
}

ul{
    width: 50%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    margin: auto;
    align-items: center;
}

.titulo{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.quadro1{
    text-align:center;
    height: 800px;
    width: 100%;
    padding-top: 40px;
    background-image: url(img/iphone_pro.jpg);
    background-position: center;
    background-size: cover;
}

h2{
    font-size: 50px;
}

.titulo2{
    text-decoration: none;
}

.quadro2{
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: rgb(248, 247, 247);
    padding-top: 8px;
}

.link1{
    text-decoration: none;
}

.quadro3{
    text-align:center;
    height: 800px;
    width: 100%;
    padding-top: 40px;
    background-image: url(img/iphone-2.jpg);
    background-position: center;
    background-size: cover;
}

.H22{
    color: white;
}

.P22{
    color: white;
}

.quadro4{
    text-align:center;
    height: 800px;
    width: 100%;
    padding-top: 40px;
    background-image: url(img/ipad_pro.jpg);
    background-position: center;
    background-size: cover;
}

.linha1{
    text-align: center;
}

.coluna1{
    background-image: url(img/smart1.jpg);
    height: 600px;
    background-position: center;
    padding-top: 30px;
}

.coluna2{
    background-image: url(img/mac1.jpg);
    color: white;
    background-position: center;
    padding-top: 47px;
}

.linha2{
    text-align: center;
}

.coluna3{
    background-image: url(img/promo.jpg);
    height: 600px;
    background-position: center;
    padding-top: 390px;
    border: white 3px solid;
}

.coluna4{
    background-image: url(img/airtag.jpg);
    height: 600px;
    background-position: center top;
    padding-top: 30px;
    border: white 3px solid;
}

.titulo3{
    text-decoration: none;
    position: relative ;
    right: 100px;
}

.linha3{
    text-align: center;
}

.coluna5{
    background-image: url(img/promo_spatial_audio.jpg);
    height: 600px;
    background-position: center top;
    padding-top: 30px;
    color: white;
    border: white 3px solid;
    background-size: cover;
}

.coluna6{
    background-image: url(img/promo_mr_corman.jpg);
    height: 600px;
    background-position: center top;
    padding-top: 30px;
    background-size: cover;
    text-align: center;   
}

footer{
    height: 400px;
    width: 100%;
    text-align: center;
    position: relative; top: 30px;
    background-color:  rgb(248, 247, 247);
}